<script type="text/template" id="form:multibutton_template">
  <div class="viewport">
    <ul>
      <% _.each(options, function (value, name) { %>
      	<li><input type="button" name="<%= name %>" value="<%= value %>" /></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:place_list_template">
  <span><%= type.capitalize() %></span>
  <select data-place-type="<%= type %>" name="place[]" <%= (disabled) ? 'disabled="disabled"' : '' %>>
    <option value=""></option>
    <% _.each(places, function (place) { %>
      <option value="<%= place.id %>" <%= (place.id == selected) ? 'selected="selected"' : '' %>><%= place.name %></option>
    <% }) %>
  </select>
</script>

<script type="text/template" id="form:role_block_template">
  <div class="row_block clickable" title="Click to change">
    <span><strong><%= model.person.given_name %> <%= model.person.surname %></strong></span>
    <div><%= model.residential_contact.street_address %>, <%= model.residential_contact.town %>, <%= model.residential_contact.state %> <%= model.residential_contact.postal_code %></div>
    <div class="actions">
      <a href="javascript:void(0);" class="delete" confirm="Are you sure you want to delete this object?" action="/delete/stuff" data="id=56&amp;delete=now" title="Delete"></a>
    </div>
  </div>
</script>

<script type="text/template" id="form:section_template">
  <h2 class="underline"><%= title %></h2>
  <div class="section padded" name="<%= name %>"></div>
</script>