<script type="text/template" id="form:multibutton_template">
  <div class="viewport">
    <ul>
    <% _.each(items, function (item) { %>
      	<li class="<%= item.className || '' %>"><input type="button" name="<%= item.name %>" value="<%= item.value %>" data-action="<%= item.action || item.name %>" /></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:multilink_template">
  <div class="viewport">
    <ul>
      <% _.each(items, function (item) { %>
      	<li class="<%= item.className || '' %>"><a href="<%= item.href %>" class="button"><%= item.title %></a></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:photos_template">
  <div class="viewport">
    <ul>
      <% _.each(values, function (value, key) { %>
      	<li><input type="button" name="<%= key %>" value="<%= value %>" /></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:place_picker_template">
  <span><%= type.capitalize() %></span>
  <select data-place-type="<%= type %>" name="place[]" <%= (options.disabled) ? 'disabled="disabled"' : '' %>>
    <option value=""></option>
    <% _.each(places, function (place) { %>
      <option value="<%= place.id %>" <%= (place.id == options.selected) ? 'selected="selected"' : '' %>><%= place.name %></option>
    <% }) %>
  </select>
</script>

<script type="text/template" id="form:role_block_template">
  <div class="row_block clickable" title="Click to change">
    <span><strong><%= model.person.given_name %> <%= model.person.surname %></strong></span>
    <div><%= model.residential_contact.street_address %>, <%= model.residential_contact.town %>, <%= model.residential_contact.state %> <%= model.residential_contact.postal_code %></div>
    <div class="actions">
      <a href="javascript:void(0);" class="delete" title="Delete"></a>
    </div>
  </div>
</script>

<script type="text/template" id="form:section_template">
  <h2 class="underline"><%= title %></h2>
  <div class="padded" name="<%= name %>"></div>
</script>