<script type="text/template" id="form:file_editor_template">
  <div class="padded"><input type="file" name="file" /></div>
  <div class="files">
    <? _.each(this.files, function (file) { ?>
      <div class="image_container">
        <a href="/files/<?= file.id ?>" target="_blank">
          <img src="/files/<?= file.id ?>/thumbnail" width="<?= file.thumbnail_dimensions.width ?>" height="<?= file.thumbnail_dimensions.height ?>" />
        </a>
        <div class="info">
          <span><?= file.name ?></span>
          <? if (file.exif && file.exif.date_time) { ?>
            <?= '<span>'+moment(file.exif.date_time).format('YYYY-MM-DD HH:mm')+'</span>' ?>
          <? } ?>
        </div>
        <a href="/files/<?= file.id ?>" class="delete" title="Delete file" data-id="<?= file.id ?>"></a>
      </div>
    <? }) ?>
  </div>
  <iframe name="file_form_frame" id="file_form_frame" style="display: none;"></iframe>
</script>

<script type="text/template" id="form:multibutton_template">
  <div class="viewport">
    <ul>
      <? _.each(items, function (item) { ?>
      	<li class="<?= item.className || '' ?>"><input type="button" name="<?= item.name ?>" value="<?= item.value ?>" data-action="<?= item.action || item.name ?>" /></li>
      <? }) ?>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:legacy_pane">
  <div class="bar"></div>
  <div class="show">
    <div class="title">Legacy Data (#<?= allocation.id ?>)<a href="#" class="close" title="Close"></a></div>
    <div class="rowed wide view" style="margin: 12px">
      <? _.each(allocation.legacy_fields, function (row) { ?>
        <div class="row">
          <span><?= row.key ?></span>
          <div><?= row.value ?></div>
        </div>
      <? }) ?>
    </div>
  </div>
</script>

<script type="text/template" id="form:multilink_template">
  <div class="viewport">
    <ul>
      <? _.each(items, function (item) { ?>
      	<li class="<?= item.className || '' ?>"><a href="<?= item.href ?>" class="button"><?= item.title ?></a></li>
      <? }) ?>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:files_template">
  <div class="viewport">
    <ul>
      <? _.each(values, function (value, key) { ?>
      	<li><input type="button" name="<?= key ?>" value="<?= value ?>" /></li>
      <? }) ?>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:place_picker_template">
  <span><?= type.capitalize() ?></span>
  <select data-place-type="<?= type ?>" name="place[]" <?= (options.disabled) ? 'disabled="disabled"' : '' ?>>
    <option value=""></option>
    <? _.each(places, function (place) { ?>
      <option value="<?= place.id ?>" <?= (place.id == options.selected) ? 'selected="selected"' : '' ?>><?= place.name ?></option>
    <? }) ?>
  </select>
</script>

<script type="text/template" id="form:role_block_template">
  <div class="row_block rowed clickable" title="Click to change">
    <div class="row">
      <span>Name</span>
      <div><?= model.get('person').get('title') ?> <?= model.get('person').get('given_name') ?> <?= model.get('person').get('middle_name') ?> <?= model.get('person').get('surname') ?></div>
    </div>
    <div class="row">
      <span>Gender</span>
      <div><?= (model.get('person').get('gender')) ? model.get('person').get('gender').demodulize().titleize() : '<small>none</small>' ?></div>
    </div>
    <div class="row">
      <span>Date of Birth</span>
      <div><?= model.get('person').get('date_of_birth') ? moment(model.get('person').get('date_of_birth')).format('DD/MM/YYYY') : '<small>none</small>'  ?></div>
    </div>
    <div class="row">
      <span>Date of Death</span>
      <div><?= model.get('person').get('date_of_death') ? moment(model.get('person').get('date_of_death')).format('DD/MM/YYYY') : '<small>none</small>'  ?></div>
    </div>
    <div class="row">
      <span class="align_top">Residential Contact</span>
      <div>
      <? rc = (model.get('residential_contact') && !model.get('residential_contact').isEmpty()) ? model.get('residential_contact').toJSON() : null; ?>
      <? if (rc) { ?>
        <div><?= rc.street_address ?></div>
        <div><?= rc.town ?> <?= rc.state ?> <?= rc.country ?> <?= rc.postal_code ?></div>
        <div><?= rc.primary_phone ?> <?= (rc.secondary_phone) ? rc.secondary_phone : '' ?></div>
        <div><?= rc.email ?></div>
      <? } else { ?>
        <small>none</small>
      <? } ?>
      </div>
    </div>
    <div class="row">
      <span class="align_top">Mailing Contact</span>
      <div>
      <? mc = (model.get('mailing_contact') && !model.get('mailing_contact').isEmpty())? model.get('mailing_contact').toJSON() : null; ?>
      <? if (mc) { ?>
        <div><?= mc.street_address ?></div>
        <div><?= mc.town ?> <?= mc.state ?> <?= mc.country ?> <?= mc.postal_code ?></div>
        <div><?= mc.primary_phone ?> <?= (mc.secondary_phone) ? rc.secondary_phone : '' ?></div>
        <div><?= mc.email ?></div>
      <? } else { ?>
        <small>none</small>
      <? } ?>
      </div>
    </div>
    <div class="actions">
      <a href="javascript:void(0);" class="delete" title="Delete"></a>
    </div>
  </div>
</script>

<script type="text/template" id="form:section_template">
  <h2 class="underline"><?= title ?></h2>
  <div class="<?= this.divClass ?>" name="<?= name ?>"></div>
</script>