<script type="text/template" id="form:photo_editor_template">
  <div style="min-height: 3em;"><input type="file" name="file" /></div>
  <div class="photos">
    <% _.each(this.photos, function (photo) { %>
      <div class="image_container">
        <a href="<%= photo.file %>" target="_blank">
          <img src="<%= photo.thumbnail %>" width="<%= photo.thumbnail_dimensions.width %>" height="<%= photo.thumbnail_dimensions.height %>" />
        </a>
        <div class="info">
          <span><%= photo.name %></span>
          <% if (photo.timestamp) { %>
            <%= '<span>'+Date.parse(photo.timestamp).toString('yyyy-MM-dd HH:mm')+'</span>' %>
          <% } %>
        </div>
        <a href="/photos/<%= photo.place_id+'/'+ photo.id %>" class="delete" title="Delete photo" data-id="<%= photo.id %>"></a>
      </div>
    <% }) %>
  </div>
  <iframe name="photo_form_frame" id="photo_form_frame" style="display: none;"></iframe>
</script>

<script type="text/template" id="form:multibutton_template">
  <div class="viewport">
    <ul>
    <% _.each(items, function (item) { %>
      	<li class="<%= item.className || '' %>"><input type="button" name="<%= item.name %>" value="<%= item.value %>" data-action="<%= item.action || item.name %>" /></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:multilink_template">
  <div class="viewport">
    <ul>
      <% _.each(items, function (item) { %>
      	<li class="<%= item.className || '' %>"><a href="<%= item.href %>" class="button"><%= item.title %></a></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:photos_template">
  <div class="viewport">
    <ul>
      <% _.each(values, function (value, key) { %>
      	<li><input type="button" name="<%= key %>" value="<%= value %>" /></li>
      <% }) %>
    </ul>
  </div>
  <span class="dropdown_button"></span>
</script>

<script type="text/template" id="form:place_picker_template">
  <span><%= type.capitalize() %></span>
  <select data-place-type="<%= type %>" name="place[]" <%= (options.disabled) ? 'disabled="disabled"' : '' %>>
    <option value=""></option>
    <% _.each(places, function (place) { %>
      <option value="<%= place.id %>" <%= (place.id == options.selected) ? 'selected="selected"' : '' %>><%= place.name %></option>
    <% }) %>
  </select>
</script>

<script type="text/template" id="form:role_block_template">
  <div class="row_block rowed clickable" title="Click to change">
    <div class="row">
      <span>Name</span>
      <div><%= model.get('person').get('title') %> <%= model.get('person').get('given_name') %> <%= model.get('person').get('surname') %></div>
    </div>
    <div class="row">
      <span>Gender</span>
      <div><%= model.get('person').get('gender').demodulize().titleize() %></div>
    </div>
    <div class="row">
      <span>Date of Birth</span>
      <div><%= model.get('person').get('date_of_birth') %></div>
    </div>
    <div class="row">
      <span class="align_top">Residential Contact</span>
      <div>
      <% rc = (model.get('residential_contact') && !model.get('residential_contact').isEmpty()) ? model.get('residential_contact').toJSON() : null; %>
      <% if (rc) { %>
        <div><%= rc.street_address %></div>
        <div><%= rc.town %>, <%= rc.state %> <%= rc.postal_code %></div>
        <div><%= rc.primary_phone %> <%= (rc.secondary_phone) ? rc.secondary_phone : '' %></div>
        <div><%= rc.email %></div>
      <% } else { %>
        <small>none</small>
      <% } %>
      </div>
    </div>
    <div class="row">
      <span class="align_top">Mailing Contact</span>
      <div>
      <% mc = (model.get('mailing_contact') && !model.get('mailing_contact').isEmpty())? model.get('mailing_contact').toJSON() : null; %>
      <% if (mc) { %>
        <div><%= mc.street_address %></div>
        <div><%= mc.town %>, <%= mc.state %> <%= mc.postal_code %></div>
        <div><%= mc.primary_phone %> <%= (mc.secondary_phone) ? rc.secondary_phone : '' %></div>
        <div><%= mc.email %></div>
      <% } else { %>
        <small>none</small>
      <% } %>
      </div>
    </div>
    <div class="actions">
      <a href="javascript:void(0);" class="delete" title="Delete"></a>
    </div>
  </div>
</script>

<script type="text/template" id="form:section_template">
  <h2 class="underline"><%= title %></h2>
  <div class="<%= this.divClass %>" name="<%= name %>"></div>
</script>