<script type="text/template" id="role_wizard:contact_block_template">
  <span><strong><%= contact.street_address %></strong></span>
  <div><%= contact.town %>, <%= contact.state %> <%= contact.postal_code %></div>
</script>

<script type="text/template" id="role_wizard:contact_results_template">
  <h3 class="underline">Contacts Found</h3>
  <div class="blocks"></div>
  <div style="text-align: right;"><input type="submit" value="Create New Contact" action="showCreateContactForm" /></div>
</script>

<script type="text/template" id="role_wizard:create_contact_form_template">

  <div class="section padded">
  	<label>
  		<span>Street Address</span>
  		<input type="text" name="street_address" style="width: 75%;" />
  	</label>
  	<label>
  		<span>Town</span>
  		<input type="text" name="town" style="width: 75%;" />
  	</label>
    <label class="row">
  		<span>State</span>
  		<select name="state">
        <option value=""></option>
        <option>ACT</option>
        <option>NT</option>
        <option>NSW</option>
        <option>QLD</option>
        <option>SA</option>
        <option>TAS</option>
        <option>VIC</option>
        <option>WA</option>
      </select>
  	</label>
    <label>
  		<span>Post Code</span>
  		<input type="text" name="postal_code" style="width: 12%;" />
  	</label>
    <label>
  		<span>Email</span>
  		<input type="text" name="email" style="width: 75%;" />
  	</label>
    <label>
  		<span>Primary Ph.</span>
  		<input type="text" name="primary_phone" style="width: 30%;" />
  	</label>
    <label>
  		<span>Secondary Ph.</span>
  		<input type="text" name="secondary_phone" style="width: 30%;" />
  	</label>
    <div class="row">
  		<input type="submit" value="Save" action="saveContact" />
  	</div>
  </div>
</script>

<script type="text/template" id="role_wizard:person_form_template">
  <div class="section padded">
    <label>
  		<span>Title</span>
      <select type="text" name="title">
        <option value=""></option>
        <option>Mr</option>
        <option>Ms</option>
        <option>Mrs</option>
        <option>Miss</option>
      </select>
    </label>
  	<label>
  		<span>Given Name</span>
  		<input type="text" name="given_name" style="width: 60%;" />
  	</label>
  	<label>
  		<span>Surname</span>
  		<input type="text" name="surname" style="width: 60%;" />
  	</label>
  	<div class="row">
  		<span>Gender</span>
  		<label><input type="radio" name="gender" value="male" />Male</label>
  		&nbsp;
  		<label><input type="radio" name="gender" value="female" />Female</label>
  	</div>
    <label>
  		<span>Date of Birth</span>
  		<input type="date" name="date_of_birth" />
  	</label>
  	<div class="row">
  		<input type="submit" value="Next" action="<%= action %>" />
  	</div>
  </div>
</script>

<script type="text/template" id="role_wizard:person_block_template">
  <span><strong><%= person.title %> <%= person.given_name %> <%= person.surname %></strong></span>
  DOB: <%= Date.parse(person.date_of_birth).toString('dd/MM/yyyy') %>, Gender: <%= person.gender %>
</script>

<script type="text/template" id="role_wizard:person_results_template">
  <h3 class="underline">People Found</h3>
  <div class="blocks"></div>
  <div style="text-align: right;"><input type="submit" value="Create New Person" action="showCreatePersonForm" /></div>
</script>

<script type="text/template" id="role_wizard:role_review_template">
  <h3 class="underline">Review</h3>
  <div class="rowed display wide">
    <div class="row">
      <span>Name</span>
      <div><%= person.title %> <%= person.given_name %> <%= person.surname %></div>
    </div>
    <div class="row">
      <span>Gender</span>
      <div><%= person.gender.toTitleCase() %></div>
    </div>
    <div class="row">
      <span>Date of Birth</span>
      <div><%= Date.parse(person.date_of_birth).toString('dd/MM/yyyy') %></div>
    </div>
    <div class="row">
      <span class="align_top">Residential Contact</span>
      <div>
        <%= residential_contact.street_address %><br />
        <%= residential_contact.town %>, <%= residential_contact.state %> <%= residential_contact.postal_code %><br />
        <%= residential_contact.primary_phone %><%= (residential_contact.secondary_phone) ? ", "+residential_contact.secondary_phone : '' %>
      </div>
    </div>
    <div class="row">
      <span class="align_top">Mailing Contact</span>
      <% if(mailing_contact.street_address) { %>
        <div>
          <%= mailing_contact.street_address %><br />
          <%= mailing_contact.town %>, <%= mailing_contact.state %> <%= mailing_contact.postal_code %><br />
          <%= mailing_contact.primary_phone %><%= (mailing_contact.secondary_phone) ? ", "+mailing_contact.secondary_phone : '' %>
        </div>
      <% } else { %>
        <div>None</div>
      <% } %>
    </div>
  </div>
  <div style="text-align: right;"><input type="submit" value="Save" action="saveRole" /></div>
</script>

<script type="text/template" id="role_wizard:wizard_template">
  <div class="overlay_container">
    <div class="heading">
      <h2 class="underline"><%= data.title %></h2>
      <a class="close" href="javascript:void(0)" title="Close"></a>
      <a class="back" href="javascript:void(0)" title="Go Back"></a>
    </div>
    <ul class="error_block"></ul>
    <div class="body">
      <div class="loading"></div>
    </div>
  </div>
</script>