<script type="text/template" id="wizard:wizard_template">
  <div class="overlay_container <%= this.options.className %>">
    <div class="heading">
      <h2 class="underline"><%= data.title %></h2>
    </div>
    <div class="body">
      <div class="page"></div>
    </div>
  </div>
</script>

<script type="text/template" id="wizard:role_wizard_template">
  <div class="overlay_container <%= this.options.className %>">
    <div class="heading">
      <h2 class="underline"><%= data.title %></h2>
    </div>
    <div class="body">
      <ul class="menu pane" style="width: 25%">
        <li data-action="showPersonPage" data-model="person">
          <div><h3>1. Person</h3><span class="delete"></span></div>
        </li>
        <li data-action="showResidentialContactPage" data-model="residential_contact">
          <div><h3>2. Residential Contact</h3><span class="delete"></span></div>
        </li>
        <li data-action="showMailingContactPage" data-model="mailing_contact">
          <div><h3>3. Mailing Contact</h3><span class="delete"></span></div>
        </li>
      </ul>
      <div class="page pane" style="width: 75%"></div>
    </div>
    <div class="footer">
      <input name="cancel" type="button" value="Cancel" class="close" />
      <input name="ok" type="button" value="OK" />
    </div>
  </div>
</script>


<script type="text/template" id="wizard:warning_confirmation_template">
  The following warnings were raised when trying to submit the form:
  <ul class="classic">
  <% _.each(warnings, function (warning) { %>
    <li><%= warning %></li>
  <% }) %>
  </ul>
  <div class="v_padded">
    <input type="button" value="Continue" class="warning" data-action="confirm" />
    <input type="button" value="Cancel" class="light close" />
  </div>
</script>

<script type="text/template" id="wizard:place_form_template">
  <div class="padded">
  	<label>
  		<span>Name</span>
  		<input type="text" name="name" style="width: 75%;" class="tooltip"
        title="This field supports a range syntax for creating many places at once. To create places named 'Plot 1' through to 'Plot 12', you would enter the name: Plot [1..12]. Ranges also support letters, e.g. Plot [A..Z]." />
  	</label>
    <label class="row">
  		<span>Type</span>
  		<select name="type">
        <option value=""></option>
        <option value="cemetery">Cemetery</option>
        <option value="section">Section</option>
        <option value="sub-section">Sub-Section</option>
        <option value="row">Row</option>
        <option value="plot">Plot</option>
      </select>
  	</label>
  	<div class="row">
  		<span>Status</span>
  		<label><input type="radio" name="status" value="available" /> Available</label>
  		<label><input type="radio" name="status" value="unavailable" /> Unavailable</label>
  	</div>
    <label>
  		<span>Max Interments</span>
  		<input type="text" name="max_interments" style="width: 12%;" />
  	</label>
    <div class="row">
  		<input type="button" value="Save" data-action="savePlace" />
  	</div>
  </div>
</script>

<script type="text/template" id="wizard:contact_block_template">
  <span><strong><%= contact.street_address %></strong></span>
  <div><%= contact.town %>, <%= contact.state %> <%= contact.postal_code %></div>
</script>

<script type="text/template" id="wizard:contact_results_template">
  <h3 class="underline">Contacts Found</h3>
  <div class="blocks"></div>
</script>

<script type="text/template" id="wizard:create_contact_form_template">
  <div class="padded">
    <% if (data.id) { %>
      <label>
    		<span>ID</span>
    		<input type="text" disabled="disabled" style="width: 50%;" value="<%= data.id %>" />
    	</label>
    <% } %>
  	<label>
  		<span>Street Address</span>
  		<input type="text" name="street_address" style="width: 100%;" />
  	</label>
  	<label>
  		<span>Town</span>
  		<input type="text" name="town" style="width: 100%;" />
  	</label>
    <label class="row">
  		<span>State</span>
  		<select name="state">
        <option value=""></option>
        <option>ACT</option>
        <option>NT</option>
        <option>NSW</option>
        <option>QLD</option>
        <option>SA</option>
        <option>TAS</option>
        <option>VIC</option>
        <option>WA</option>
      </select>
  	</label>
    <label>
  		<span>Country</span>
  		<select name="country">
        <option value=""></option>
        <option>Afghanistan</option>
        <option>Åland Islands</option>
        <option>Albania</option>
        <option>Algeria</option>
        <option>American Samoa</option>
        <option>Andorra</option>
        <option>Angola</option>
        <option>Anguilla</option>
        <option>Antarctica</option>
        <option>Antigua and Barbuda</option>
        <option>Argentina</option>
        <option>Armenia</option>
        <option>Aruba</option>
        <option>Australia</option>
        <option>Austria</option>
        <option>Azerbaijan</option>
        <option>Bahamas</option>
        <option>Bahrain</option>
        <option>Bangladesh</option>
        <option>Barbados</option>
        <option>Belarus</option>
        <option>Belgium</option>
        <option>Belize</option>
        <option>Benin</option>
        <option>Bermuda</option>
        <option>Bhutan</option>
        <option>Bolivia</option>
        <option>Bosnia and Herzegovina</option>
        <option>Botswana</option>
        <option>Bouvet Island</option>
        <option>Brazil</option>
        <option>British Indian Ocean Territory</option>
        <option>Brunei Darussalam</option>
        <option>Bulgaria</option>
        <option>Burkina Faso</option>
        <option>Burundi</option>
        <option>Cambodia</option>
        <option>Cameroon</option>
        <option>Canada</option>
        <option>Cape Verde</option>
        <option>Cayman Islands</option>
        <option>Central African Republic</option>
        <option>Chad</option>
        <option>Chile</option>
        <option>China</option>
        <option>Christmas Island</option>
        <option>Cocos (Keeling) Islands</option>
        <option>Colombia</option>
        <option>Comoros</option>
        <option>Congo</option>
        <option>Congo, The Democratic Republic of The</option>
        <option>Cook Islands</option>
        <option>Costa Rica</option>
        <option>Cote D'ivoire</option>
        <option>Croatia</option>
        <option>Cuba</option>
        <option>Cyprus</option>
        <option>Czech Republic</option>
        <option>Denmark</option>
        <option>Djibouti</option>
        <option>Dominica</option>
        <option>Dominican Republic</option>
        <option>Ecuador</option>
        <option>Egypt</option>
        <option>El Salvador</option>
        <option>Equatorial Guinea</option>
        <option>Eritrea</option>
        <option>Estonia</option>
        <option>Ethiopia</option>
        <option>Falkland Islands (Malvinas)</option>
        <option>Faroe Islands</option>
        <option>Fiji</option>
        <option>Finland</option>
        <option>France</option>
        <option>French Guiana</option>
        <option>French Polynesia</option>
        <option>French Southern Territories</option>
        <option>Gabon</option>
        <option>Gambia</option>
        <option>Georgia</option>
        <option>Germany</option>
        <option>Ghana</option>
        <option>Gibraltar</option>
        <option>Greece</option>
        <option>Greenland</option>
        <option>Grenada</option>
        <option>Guadeloupe</option>
        <option>Guam</option>
        <option>Guatemala</option>
        <option>Guernsey</option>
        <option>Guinea</option>
        <option>Guinea-bissau</option>
        <option>Guyana</option>
        <option>Haiti</option>
        <option>Heard Island and Mcdonald Islands</option>
        <option>Holy See (Vatican City State)</option>
        <option>Honduras</option>
        <option>Hong Kong</option>
        <option>Hungary</option>
        <option>Iceland</option>
        <option>India</option>
        <option>Indonesia</option>
        <option>Iran, Islamic Republic of</option>
        <option>Iraq</option>
        <option>Ireland</option>
        <option>Isle of Man</option>
        <option>Israel</option>
        <option>Italy</option>
        <option>Jamaica</option>
        <option>Japan</option>
        <option>Jersey</option>
        <option>Jordan</option>
        <option>Kazakhstan</option>
        <option>Kenya</option>
        <option>Kiribati</option>
        <option>Korea, Democratic People's Republic of</option>
        <option>Korea, Republic of</option>
        <option>Kuwait</option>
        <option>Kyrgyzstan</option>
        <option>Lao People's Democratic Republic</option>
        <option>Latvia</option>
        <option>Lebanon</option>
        <option>Lesotho</option>
        <option>Liberia</option>
        <option>Libyan Arab Jamahiriya</option>
        <option>Liechtenstein</option>
        <option>Lithuania</option>
        <option>Luxembourg</option>
        <option>Macao</option>
        <option>Macedonia, The Former Yugoslav Republic of</option>
        <option>Madagascar</option>
        <option>Malawi</option>
        <option>Malaysia</option>
        <option>Maldives</option>
        <option>Mali</option>
        <option>Malta</option>
        <option>Marshall Islands</option>
        <option>Martinique</option>
        <option>Mauritania</option>
        <option>Mauritius</option>
        <option>Mayotte</option>
        <option>Mexico</option>
        <option>Micronesia, Federated States of</option>
        <option>Moldova, Republic of</option>
        <option>Monaco</option>
        <option>Mongolia</option>
        <option>Montenegro</option>
        <option>Montserrat</option>
        <option>Morocco</option>
        <option>Mozambique</option>
        <option>Myanmar</option>
        <option>Namibia</option>
        <option>Nauru</option>
        <option>Nepal</option>
        <option>Netherlands</option>
        <option>Netherlands Antilles</option>
        <option>New Caledonia</option>
        <option>New Zealand</option>
        <option>Nicaragua</option>
        <option>Niger</option>
        <option>Nigeria</option>
        <option>Niue</option>
        <option>Norfolk Island</option>
        <option>Northern Mariana Islands</option>
        <option>Norway</option>
        <option>Oman</option>
        <option>Pakistan</option>
        <option>Palau</option>
        <option>Palestinian Territory, Occupied</option>
        <option>Panama</option>
        <option>Papua New Guinea</option>
        <option>Paraguay</option>
        <option>Peru</option>
        <option>Philippines</option>
        <option>Pitcairn</option>
        <option>Poland</option>
        <option>Portugal</option>
        <option>Puerto Rico</option>
        <option>Qatar</option>
        <option>Reunion</option>
        <option>Romania</option>
        <option>Russian Federation</option>
        <option>Rwanda</option>
        <option>Saint Helena</option>
        <option>Saint Kitts and Nevis</option>
        <option>Saint Lucia</option>
        <option>Saint Pierre and Miquelon</option>
        <option>Saint Vincent and The Grenadines</option>
        <option>Samoa</option>
        <option>San Marino</option>
        <option>Sao Tome and Principe</option>
        <option>Saudi Arabia</option>
        <option>Senegal</option>
        <option>Serbia</option>
        <option>Seychelles</option>
        <option>Sierra Leone</option>
        <option>Singapore</option>
        <option>Slovakia</option>
        <option>Slovenia</option>
        <option>Solomon Islands</option>
        <option>Somalia</option>
        <option>South Africa</option>
        <option>South Georgia and The South Sandwich Islands</option>
        <option>Spain</option>
        <option>Sri Lanka</option>
        <option>Sudan</option>
        <option>Suriname</option>
        <option>Svalbard and Jan Mayen</option>
        <option>Swaziland</option>
        <option>Sweden</option>
        <option>Switzerland</option>
        <option>Syrian Arab Republic</option>
        <option>Taiwan, Province of China</option>
        <option>Tajikistan</option>
        <option>Tanzania, United Republic of</option>
        <option>Thailand</option>
        <option>Timor-leste</option>
        <option>Togo</option>
        <option>Tokelau</option>
        <option>Tonga</option>
        <option>Trinidad and Tobago</option>
        <option>Tunisia</option>
        <option>Turkey</option>
        <option>Turkmenistan</option>
        <option>Turks and Caicos Islands</option>
        <option>Tuvalu</option>
        <option>Uganda</option>
        <option>Ukraine</option>
        <option>United Arab Emirates</option>
        <option>United Kingdom</option>
        <option>United States</option>
        <option>United States Minor Outlying Islands</option>
        <option>Uruguay</option>
        <option>Uzbekistan</option>
        <option>Vanuatu</option>
        <option>Venezuela</option>
        <option>Viet Nam</option>
        <option>Virgin Islands, British</option>
        <option>Virgin Islands, U.S.</option>
        <option>Wallis and Futuna</option>
        <option>Western Sahara</option>
        <option>Yemen</option>
        <option>Zambia</option>
        <option>Zimbabwe</option>
      </select>
  	</label>
    <label>
  		<span>Post Code</span>
  		<input type="text" name="postal_code" style="width: 33%;" />
  	</label>
    <label>
  		<span>Email</span>
  		<input type="text" name="email" style="width: 100%;" />
  	</label>
    <label>
  		<span>Primary Ph.</span>
  		<input type="text" name="primary_phone" style="width: 70%;" />
  	</label>
    <label>
  		<span>Secondary Ph.</span>
  		<input type="text" name="secondary_phone" style="width: 70%;" />
  	</label>
  </div>
</script>

<script type="text/template" id="wizard:person_form_template">
  <div class="padded">
    <% if (data.id) { %>
      <label>
    		<span>ID</span>
    		<input type="text" disabled="disabled" style="width: 50%;" value="<%= data.id %>" />
    	</label>
    <% } %>
    <label>
  		<span>Title</span>
      <select type="text" name="title">
        <option value=""></option>
        <option>Mr</option>
        <option>Ms</option>
        <option>Mrs</option>
        <option>Miss</option>
        <option>Sir</option>
        <option>Lady</option>
        <option>Doctor</option>
        <option>Director</option>
        <option>Executor</option>
        <option>Manager</option>
      </select>
    </label>
  	<label>
  		<span>Given Name</span>
  		<input type="text" name="given_name" style="width: 100%;" />
  	</label>
    <label>
  		<span>Middle Name</span>
  		<input type="text" name="middle_name" style="width: 100%;" />
  	</label>
  	<label>
  		<span>Surname</span>
  		<input type="text" name="surname" style="width: 100%;" />
  	</label>
  	<div class="row">
  		<span>Gender</span>
  		<label><input type="radio" name="gender" value="male" />Male</label>
  		&nbsp;
  		<label><input type="radio" name="gender" value="female" />Female</label>
  	</div>
    <label>
  		<span>Date of Birth</span>
  		<input type="date" name="date_of_birth" style="width: 60%;" />
  	</label>
    <label>
  		<span>Date of Death</span>
  		<input type="date" name="date_of_death" style="width: 60%;" />
  	</label>
  </div>
</script>

<script type="text/template" id="wizard:person_block_template">
  <% var dob = moment(person.date_of_birth) %>
  <span><strong><%= person.title %> <%= person.given_name %> <%= person.middle_name %> <%= person.surname %></strong></span>
  DOB: <%= (dob && dob.format('DD/MM/YYYY')) || '<small>none</small>' %>, Gender: <%= person.gender %>
</script>

<script type="text/template" id="wizard:person_results_template">
  <h3 class="underline">People Found</h3>
  <div class="blocks"></div>
</script>

<script type="text/template" id="wizard:role_review_template">
  <h3 class="underline">Review</h3>
  <div class="rowed display wide">
    <div class="row">
      <span>Name</span>
      <div><%= person.title %> <%= person.given_name %> <%= person.middle_name %> <%= person.surname %></div>
    </div>
    <div class="row">
      <span>Gender</span>
      <div><%= person.gender.titleize() %></div>
    </div>
    <div class="row">
      <span>Date of Birth</span>
      <div><%= moment(person.date_of_birth).format('DD/MM/YYYY') %></div>
    </div>
    <div class="row">
      <span class="align_top">Residential Contact</span>
      <div>
        <%= residential_contact.street_address %><br />
        <%= residential_contact.town %> <%= residential_contact.state %> <%= residential_contact.country %> <%= residential_contact.postal_code %><br />
        <%= residential_contact.primary_phone %><%= (residential_contact.secondary_phone) ? ", "+residential_contact.secondary_phone : '' %>
      </div>
    </div>
    <div class="row">
      <span class="align_top">Mailing Contact</span>
      <% if(mailing_contact.street_address) { %>
        <div>
          <%= mailing_contact.street_address %><br />
          <%= mailing_contact.town %> <%= mailing_contact.state %> <%= mailing_contact.country %> <%= mailing_contact.postal_code %><br />
          <%= mailing_contact.primary_phone %><%= (mailing_contact.secondary_phone) ? ", "+mailing_contact.secondary_phone : '' %>
        </div>
      <% } else { %>
        <div>None</div>
      <% } %>
    </div>
  </div>
  <div style="text-align: right;"><input type="button" value="Save" data-action="saveRole" /></div>
</script>