<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/scripts/jquery.ui.theme/jquery-ui-1.8.16.custom.css" />
  <script type="text/javascript" src="/scripts/compatibility.js"></script>
  <script type="text/javascript" src="/scripts/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery.ui.datepicker-en-GB.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>