<div class="section padded">
	<label>
		<span>Given Name</span>
		<input type="text" name="given_name" style="width: 60%;" />
	</label>
	<label>
		<span>Surname</span>
		<input type="text" name="surname" style="width: 60%;" />
	</label>
	<div class="row">
		<span>Gender</span>
		<label><input type="radio" name="gender" value="male" />Male</label>
		&nbsp;
		<label><input type="radio" name="gender" value="female" />Female</label>
	</div>
  <label>
		<span>Date of Birth</span>
		<input type="text" name="date_of_birth" />
	</label>
	<div class="row">
		<input type="submit" value="Save" action="savePerson" />
	</div>
</div>
