<div class="section padded">
	<label>
		<span>Street Address</span>
		<input type="text" name="street_address" style="width: 60%;" />
	</label>
	<label>
		<span>Town</span>
		<input type="text" name="town" style="width: 60%;" />
	</label>
  <label class="row">
		<span>State</span>
		<select name="state">
      <option>Please select...</option>
      <option value="Queensland">Queensland</option>
      <option value="ACT">ACT</option>
      <option value="New South Whales">New South Whales</option>
    </select>
	</label>
  <label>
		<span>Post Code</span>
		<input type="text" name="postal_code" style="width: 12%;" />
	</label>
  <label>
		<span>Primary Phone</span>
		<input type="text" name="primary_phone" style="width: 24%;" />
	</label>
  <label>
		<span>Secondary Phone</span>
		<input type="text" name="secondary_phone" style="width: 24%;" />
	</label>
  <div class="row">
		<input type="submit" value="Save" action="saveContact" />
	</div>
</div>
