<h3 class="underline">Review</h3>
<div class="rowed display wide">
  <div class="row">
    <span>Name</span>
    <div><%= person.title %> <%= person.given_name %> <%= person.surname %></div>
  </div>
  <div class="row">
    <span>Gender</span>
    <div><%= person.gender %></div>
  </div>
  <div class="row">
    <span>Date of Birth</span>
    <div><%= (new Date(person.date_of_birth).toLocaleDateString()) %></div>
  </div>
  <div class="row">
    <span class="align_top">Residential Contact</span>
    <div>
      <%= residential_contact.street_address %><br />
      <%= residential_contact.town %>, <%= residential_contact.state %> <%= residential_contact.postal_code %><br />
      <%= residential_contact.primary_phone %><%= (residential_contact.secondary_phone) ? ", "+residential_contact.secondary_phone : '' %>
    </div>
  </div>
  <div class="row">
    <span class="align_top">Mailing Contact</span>
    <% if(mailing_contact.street_address) { %>
      <div>
        <%= mailing_contact.street_address %><br />
        <%= mailing_contact.town %>, <%= mailing_contact.state %> <%= mailing_contact.postal_code %><br />
        <%= mailing_contact.primary_phone %><%= (mailing_contact.secondary_phone) ? ", "+mailing_contact.secondary_phone : '' %>
      </div>
    <% } else { %>
      <div>None</div>
    <% } %>
  </div>
</div>
<div style="text-align: right;"><input type="submit" value="Save" action="saveRole" /></div>
