@media print {
  body {
    zoom: 80%;
    background: none;
  }
  @page {
    margin: 8% 6%;
  }
  .noprint {
    display: none;
  }
  #container {
    border: none;
    box-shadow: none;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  #main_banner {
    display: none;
  }
  #print_banner {
    display: table;
    width: 100%;
    position: relative;
    margin: 0;
    font-size: 180%;
    vertical-align: middle;
  }
  #print_banner span {
    display: table-cell;
    vertical-align: middle;
  }
  #print_banner img {
    display: table-cell;
    float: right;
    vertical-align: middle;
  }
  #print_banner:after {
    display: block;
    content: ' ';
    clear: both;
  }
  #banner_info {
    display: none;
  }
  #navigation_bar {
    display: none;
  }
  section {
    page-break-inside: avoid;
    margin: 1.2em 0;
  }
  h2 {
    margin: 1.2em 0;
  }
}