
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", arial;
  font-size: 13px;
	letter-spacing: 0.1pt;
	background: #fafafa;
  line-height: 1.25;
}
html {
  overflow-y: scroll;
}
input, select, button {
  padding: 4px 3px;
  height: 28px;
  font-size: 13px;
}
select {
	min-width: 64px;
}
input[type=text], input[type=password], select {
  border: 1px solid #999;
}
input[type=text]:focus, input[type=password]:focus, select:focus {
  border: 1px solid #0080ff;
}
input[type=submit], input[type=reset], input[type=button], button {
	padding: 0px 6px;
	height: 30px;
	vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
	vertical-align: middle !important;
	margin: auto 0.4em;
}

form {
	width: 100%;
}
h2, h3 {
  position: relative;
}
h1 {
  font-size: 160%
}
h2 {
	font-size: 140%;
	margin: 24px 0 16px;
	padding-left: 2%;
	padding-bottom: 4px;
}
h2.underline {
	border-bottom: 1px solid #888;
}
h3 {
	font-size: 120%;
	margin: 20px 0 14px;
	padding-left: 2%;
	padding-bottom: 4px;
}
h3.underline {
	border-bottom: 1px solid #bbb;
}
small {
  color: #666;
}

#container {
	text-align: left;
	position: relative;
	display: block;
  margin: 0 auto 18px;
	padding: 1px 24px 24px 24px;
	background: white;
  width: 880px;
	border: 1px solid #c0c0c0;
  border-top: none;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.10);
}
#container > .info {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	font-size: 11px;
	text-align: right;
	padding: 12px 2% 12px 0;
	line-height: 140%;
	color: #666;
	z-index: 3;
}
.banner {
  position: relative;
  margin: 12px 0 16px;
  font-size: 160%;
}
#main_banner {
  position: relative;
  margin: 12px 0 16px;
  font-size: 180%;
  background: url('images/logo_icon.png') no-repeat 30px center;
  padding: 32px 0 32px 142px;
}
#main_banner sup {
  color: grey;
  font-size: 60%;
}
#print_banner {
  display: none;
  position: relative;
  margin: 0;
  font-size: 180%;
  padding: 32px 0 32px;
  vertical-align: middle;
}
#print_banner img {
  top: 0;
  right: 0;
  position: absolute;
}
#navigation_bar {
	display: table;
	width: 100%;
	word-spacing: -1em;
	color: white;
	font-size: 16px;
	font-weight: normal;
	background: #2980cc;
	padding: 8px 1%;
	margin-bottom: 12px;
	/* border-radius: 5px; */
}
#navigation_bar * {
	display: inline-block;
	word-spacing: normal;
	vertical-align: middle;
}
#navigation_bar a {
	color: inherit;
	text-decoration: none;
}
#navigation_bar a.action {
	padding-top: 90px;
	width: 23%;
	height: 116px;
	text-align: center;
	margin: 0 1%;
	border-radius: 5px;
}
#navigation_bar a.action.find {
	background: url('images/icons/find_white.png') no-repeat center 10px;
}
#navigation_bar a.action.burial {
	background: url('images/icons/burial_white.png') no-repeat center 10px;
}
#navigation_bar a.action.reservation {
	background: url('images/icons/reservation_white.png') no-repeat center 10px;
}
#navigation_bar a.action.calendar {
	background: url('images/icons/calendar_white.png') no-repeat center 10px;
}
#navigation_bar a.action:hover {
	background-color: rgba(255,255,255,0.1);
}
#navigation_bar .div.breadcrumb {
	padding: 0 8px;
}
#navigation_bar a.breadcrumb {
	padding: 5px 5px;
}
#navigation_bar a.breadcrumb.home {
	background: url('images/icons/home_small_white.png') no-repeat center center;
	height: 26px;
	width: 30px;
}
#navigation_bar a:hover {
	background-color: rgba(255,255,255,0.1) !important;
}

#footer {
	margin-top: 48px;
	font-size: 11px;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding-top: 12px;
	color: #999;
	letter-spacing: 0.2pt;
}
#footer a {
	color: #9fb4c7;
	text-decoration: none;
}
#footer a:hover {
	color: #6b91b3;
}

h1 .heading_float, h2 .heading_float, h3 .heading_float {
  position: absolute;
  top: 0;
  right: 2%;
  width: 100%;
  text-align: right;
  font-size: 13px;
  font-weight: normal;
}
.heading_float.order_options a {
  margin: auto 2px;
}
.heading_float.order_options a.desc:after {
  content: " (desc)";
}
.heading_float.order_options a.asc:after {
  content: " (asc)";
}

.padded {
	padding: 8px 12px;
}
.v_padded {
	padding: 8px 0
}
.h_padded {
	padding: 0 12px;
}

section, .section {
	margin-bottom: 34px;
}
section:last-child, .section:last-child {
	margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}
.flash_banner {
  padding: 8px 12px;
  margin: 6px 0;
  color: white;
  cursor: pointer;
	white-space: pre;
}
.flash_banner:hover {
  opacity: 0.9;
}
.flash_banner.success {
  background: #69ad34;
}
.flash_banner.error {
 background: #a63232;
}
.list_rows > div {
  background: #ebf3fa;
  margin-bottom: 1px;
  position: relative;
}
.list_rows > div:nth-child(even) {
	background: none;
}
.list_rows > div > .summary {
  position: relative;
  padding: 12px 14px;
}
.list_rows > div.provisional {
  background-color: #f0ebfa;
}
.list_rows > div.deleted {
  color: #777;
}
.list_rows > div.deleted > .summary {
  text-decoration: line-through;
}
.list_rows > div > .details {
  display: none;
  padding: 0 14px 4px;
  font-size: 11px;
  overflow: auto; /* Required for clearing the container for floating children */
}
.list_rows > div > .details > .left {
  float: left;
  width: 50%;
}
.list_rows > div > .details > .right {
  float: right;
  width: 50%;
}
.list_rows > div.expanded > .details {
  display: block;
}

.list_rows .goto {
	position: absolute;
	background: url(images/goto_blue.png) no-repeat center center;
	width: 32px;
	top: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
.list_rows .goto.ok {
	background: url(images/goto_green.png) no-repeat center center;
}
.list_rows .goto.warning {
	background: url(images/goto_orange.png) no-repeat center center;
}
.list_rows .goto.danger {
	background: url(images/goto_red.png) no-repeat center center;
}

.list_rows .goto:hover {
	opacity: 0.75;
}

a.button, input[type=submit], input[type=button] {
	display: inline-block;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	background: #2980cc;
	color: white;
	border: none;
	vertical-align: middle;
	height: auto;
}
input[type=submit], input[type=button] {
	padding: 9px 20px;
}
a.button:visited {
	color: white;
}
a.button:hover, input[type=submit]:hover, input[type=button]:hover {
	background: #5499d6;
}


.row_block {
	position: relative;
	background: #dfecf7;
	border-radius: 5px;
	color: #666;
	padding: 12px;
	margin: 6px 0;
}
.row_block > span {
	display: block;
	color: black;
	margin-bottom: 6px;
}
.row_block input[type=button]  {
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: 12px;
	padding: 0 24px;
	height: 80%;
	background: #ebf3fa;
	border: 1px solid #d8dfe5;
	border-radius: 5px;
	cursor: pointer;
}
.row_block input[type=button]:hover  {
	background: #d5e5f2;
	border: 1px solid #c5d4e0;
}
.row_block.clickable:hover {
	background: #eff5fb;
}
.row_block .actions {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 12px;
}
.row_block .actions > a {
	display: inline-block;
	height: 100%;
	width: 40px;
	padding: 0 4px;
}

.row_block .actions > .delete {
	background: url('images/delete_24_hover.png') no-repeat  center center;
}
.row_block .actions > a.delete:hover {
  opacity: 0.75;
}

a.row_button {
	display: block;
	border: 1px solid #2980cc;
	border-radius: 5px;
	padding: 12px;
	text-decoration: none;
}
a.row_button:visited {
	color: inherit;
}
a.row_button:hover {
	background: #2980cc;
	color: #fff;
}

.rowed label, .rowed div.row {
  position: relative;
	display: block;
	padding: 4px 0;
	margin-left: 112px;
	text-align: left;
}
.rowed.wide label, .rowed.wide div.row {
	margin-left: 162px;
}
.rowed.very_wide label, .rowed.very_wide div.row {
	margin-left: 212px;
}
.rowed label > *, .rowed div.row > * {
  display: inline-block;
  vertical-align: middle;
}
.rowed label > span:first-child, .rowed div.row > span:first-child {
	display: inline-block;
	margin-left: -112px;
	padding-right: 8px;
	width: 107px;
	text-align: right;
  vertical-align: middle;
}
.rowed.wide label > span:first-child, .rowed.wide div.row > span:first-child {
	margin-left: -162px;
	width: 157px;
}
.rowed.very_wide label > span:first-child, .rowed.very_wide div.row > span:first-child {
	margin-left: -212px;
	width: 207px;
}
.rowed.view label > span:first-child, .rowed.view div.row > span:first-child {
  font-weight: bold;
}
.rowed.display label > span:first-child, .rowed.display div.row > span:first-child {
	font-weight: bold;
}
.rowed label > span.align_top:first-child, .rowed div.row > span.align_top:first-child {
	vertical-align: top;
	padding-top: 0.3em;
}
.rowed div.row label {
	display: inline;
	padding: 0;
	margin: 0;
	text-align: left;
	vertical-align: middle;
}

.inline_layout {
  display: block;
  width: 100%;
  word-spacing: -1em;
}
.inline_layout > * {
  display: inline-block !important;
  vertical-align: middle;
  word-spacing: normal;
}
.inline_layout.align_top > * {
	vertical-align: top;
}
.inline_layout > .separator {
  position: relative;
	height: 100%;
}
.inline_layout > .separator > span {
  display: block;
  background: white;
  position: absolute;
  z-index: 3;
  color: #999;
  text-align: center;
	top: 50%;
  line-height: 30px;
	margin-top: -15px;
	width: 100%;
}
.inline_layout > .separator > div {
  background: #999;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}


.inline_float_layout {
	display: block;
}
.inline_float_layout > * {
  display: block;
	float: left;
	vertical-align: middle;
}
.inline_float_layout > .separator {
	position: relative;
	height: 100%;
}
.inline_float_layout > .separator > span {
  display: block;
  background: white;
  position: absolute;
	width: 100%;
	padding: 0 16px;
  z-index: 3;
  color: #999;
  text-align: center;
	vertical-align: top;
	top: 50%;
	line-height: 30px;
	margin-top: -15px;
}
.inline_float_layout > .separator > div {
  background: #999;
	position: absolute;
	width: 1px;
	height: 100%;
  top: 0;
  left: 50%;
}

.action_button {
	display: inline-block;
	border-radius: 5px;
	padding: 10px 16px;
	text-decoration: none;
	background: #2980cc;
	color: white;
	border: none;
	vertical-align: middle;
	height: auto;
}

.placepicker .add_child, .placepicker .add, .placepicker .edit, .placepicker .delete {
  display: inline-block;
  width: 20px;
  height: 28px;
  vertical-align: middle;
  margin: 0 2px;
  cursor: pointer;
}
.placepicker .add_child {
  background: url('images/add_child_20.png') no-repeat center center;
}
.placepicker .add {
  background: url('images/add_20.png') no-repeat center center;
}
.placepicker .edit {
  background: url('images/edit_20.png') no-repeat center center;
}
.placepicker .delete {
  background: url('images/delete_20.png') no-repeat center center;
}
.placepicker .add:first-child, .placepicker .edit:first-child, .placepicker .delete:first-child, .placepicker .add_child {
  margin-left: 8px;
}
.placepicker .add:hover, .placepicker .edit:hover, .placepicker .delete:hover, .placepicker .add_child:hover {
  opacity: 0.8; 
}

.multiinput_control input {
  margin-top: 4px;
}
.multiinput_control div:first-child input {
  margin-top: 0;
}

.multibutton {
	position: relative;
  display: inline-block;
	padding-right: 28px;
}
.multibutton > .viewport {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  background: #2980cc;
}
.multibutton > .viewport.show {
  overflow: visible;
}
.multibutton.no_dropdown > .viewport {
  border-radius: 5px;
}

.multibutton > .dropdown_button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 28px;
	border-radius: 0 5px 5px 0;
	background: #2980cc url('images/dropdown_arrow.png') no-repeat center center;
	color: white;
	text-align: center;
	border-left: 1px solid #7fb3e0;
}
.multibutton > .dropdown_button:hover {
	background-color: #5499d6;
}
.multibutton.no_dropdown > .dropdown_button {
  display: none;
}

.multibutton > .viewport > ul {
	display: block;
	position: relative;
	z-index: 10;
}
.multibutton > .viewport.show > ul {
  box-shadow: 0px 0px 15px rgba(0,0,0, 0.4);
  border-radius: 5px;
}
.multibutton > .viewport.show > ul > li:first-child {
  border-radius: 5px 5px 0 0;
}
.multibutton > .viewport.show > ul > li:last-child {
  border-radius: 0 0 5px 5px;
}
.multibutton > .viewport > ul > li {
	display: block;
	text-align: left;
	background: #2980cc;
	border-radius: 5px 0 0 5px;
}
.multibutton.no_dropdown > .viewport > ul > li {
  border-radius: 5px; 
}
.multibutton > .viewport.show > ul > li {
	border-radius: 0;
}
.multibutton > .viewport > ul > li:hover {
	background: #5499d6;
}
.multibutton > .viewport > ul input[type=button], .multibutton > .viewport > a.button {
	border-radius: 0;
	text-align: left;
	background: none;
}

/*.multibutton {
  position: relative;
  display: inline-block;
  padding: 1px 28px 1px 0;
}
.multibutton.top {
  border-top: 1px solid #7fb3e0;
  padding-top: 0;
}
.multibutton.bottom {
  border-bottom: 1px solid #7fb3e0;
  padding-bottom: 0;
}
.multibutton > input[type=button], .multibutton > a.button {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  padding: 10px 16px 10px 20px;
  text-decoration: none;
  background: #2980cc;
  color: white;
  border: none;
  vertical-align: middle;
  height: auto;
}
.multibutton.top > input[type=button], .multibutton.top > a.button {
  border-radius: 0 0 0 5px;
}
.multibutton.bottom > input[type=button], .multibutton.bottom > a.button {
  border-radius: 5px 0 0 0;
}
.multibutton > input[type=button]:hover, .multibutton > a.button:hover {
  background: #5499d6;
}
.multibutton > span {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 1px;
  width: 28px;
  border-radius: 0 5px 5px 0;
  background: #2980cc url('images/dropdown_arrow.png') no-repeat center center;
  color: white;
  text-align: center;
  border-left: 1px solid #7fb3e0;
}
.multibutton.top > span {
  top: 0;
  border-radius: 0 0 5px 0;
}
.multibutton.bottom > span {
  bottom: 0;
  border-radius: 0 5px 0 0;
}
.multibutton > span:hover {
  background-color: #5499d6;
}
.multibutton > ul {
  position: absolute;
  left: 0;
  background: #2980cc;
  margin: 1px 0;
  z-index: 10;
}
.multibutton.top > ul {
  top: inherit;
  bottom: 100%;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
}
.multibutton.bottom > ul {
  top: 100%;
  bottom: inherit;
  padding-bottom: 5px;
  border-radius: 0 0 5px 5px;
}
.multibutton > ul > li {
  display: block;
  text-align: left;
}
.multibutton > ul > li:hover {
  background: #5499d6;
}
.multibutton > ul > li.selected {
  display: none;
}
.multibutton > ul input[type=button], .multibutton ul > a.button {
  border-radius: 0;
  width: 100%;
  text-align: left;
  background: none;
}*/

.indicator {
  display: inline-block;
	min-height: 24px;
  width: 36px;
  vertical-align: middle;
}
.indicator.loading {
	background: url('images/loader.gif') no-repeat center center;
}
.indicator.success {
	background: url('images/check-24.png') no-repeat center center;
}
.indicator.warning {
  background: url('images/warning-24.png') no-repeat center center;
}

/* OVERLAY */
.overlay_background {
	position: fixed;
	background: rgba(242,242,242,0.7);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
}
.overlay_container {
	position: fixed;
	left: 50%;
	top: 8%;
	margin-left: -300px;
	width: 600px;
  max-height: 84%;
	display: block;
	border: 8px solid #2980cc;
	z-index: 101;
	background: white;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  overflow-y: auto;
  overflow-x: hidden;
}
.overlay_container > .heading {
	position: relative;
	text-align: left;
	box-sizing: border-box;
	background: #2980cc;
	color: white;
	padding: 3px 0 12px 0;
}
.overlay_container > .heading > h2 {
	width: 100%;
	margin: 0 0 0 12px;
	border: none;
	padding: 0;
}
.overlay_container > .heading > a.close {
	position: absolute;
	top: -8px;
	bottom: 0;
	right: 0;
	width: 36px;
	background: url('images/close.png') no-repeat center center;
}
.overlay_container > .heading > a.back {
	position: absolute;
	top: -8px;
	bottom: 0;
	right: 36px;
	width: 36px;
	background: url('images/back.png') no-repeat center center;
}
.overlay_container > .heading > a.close:hover, .overlay_container > .heading > a.back:hover {
  opacity: 0.8;
}

.overlay_container > .body {
  position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
.overlay_container > .body h3 {
	margin-top: 0;
}
.overlay_container > .body > .indicator {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(242,242,242,0.7);
}
.overlay_container > .body > .page {
  padding: 3%; 
}
.field_error {
  outline: 1px solid #c00;
}
.error_block {
  padding: 10px 20px;
  background: #a73232;
  font-family: Verdana, Arial;
  font-size: 11px;
  color: white;
  box-sizing: content-box;
}
.error_block li {
  list-style: outside disc;
  margin-left: 14px;
  padding: 3px 0;
}
.error_block li:only-child {
  list-style: none;
  margin-left: 0;
}

/* LEGACY */


#key_field_error,
#validation_errors {
  padding: 10px 20px;
  background: #a73232;
  font-family: Verdana, Arial;
  font-size: 11px;
  color: white;
  margin: 6px 0;
  box-sizing: content-box;
}
#validation_errors li {
  list-style: outside disc;
  margin-left: 14px;
}

input#submit_fuel_form {
  padding-left: 16px;
  padding-right: 16px;
}

input.with_icon {
  padding-right: 26px;
}
input.with_icon.checked {
  background: url(images/check-16.png) no-repeat 97% center;
}
input.with_icon.crossed {
  background: url(images/cross-16.png) no-repeat 97% center;
}
input.with_icon.loading {
  background: url(images/loader-16.gif) no-repeat 97% center;
}

.vertical_form > div, .vertical_form > label {
  display: block;
  padding: 6px 0;
  position: relative;
}
.vertical_form .field {
  display: block;
  text-align: left;
	padding: 7px 0;
  line-height: 16pt;
}
.vertical_form input[type=button], .vertical_form input[type=submit] {
  margin-right: 6px;
}
.vertical_center > * {
	vertical-align: middle;
}

.vertical_form .inline_layout .field {
  padding-top: 0;
}

iframe {
  margin-bottom:0px;
  padding-bottom: 0;
  width: 100%;
  scrolling: no;
  frameborder: 0;
  hspace: 0;
  vspace: 0;
}

.photos{
  width:100%;
  background-color:#FFFFFF;
  padding: 10px;
  float:left
}

.photos .imageSingle {
  float: left;
  margin: 5px;
  width:330px;
  text-align:center;
  border: 1px dotted #58595b;
}

.photos .imageSingle .image {
  width:320px;
  height:200px;
  margin:5px;
}

.photos .imageSingle .delete {
  position: relative;
  display: inline-block;
  width: 330px;
  height:20px;
  background: url('images/delete_20.png') no-repeat  center center;
}

.photos .footer {
  text-align:center;
  width: 330px;
  color:#000000;
  padding-top: 2px;
  padding-bottom:2px;
  margin-top: 5px;
}

