
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: blue;
}
body {
  font-family: "Lucida Sans", arial;
  font-size: 13px;
  letter-spacing: 0.1pt;
  background: #fafafa;
  line-height: 1.25;
  position: relative;
}
.input_style {
  display: inline-block;
}
input, select, button, textarea, .input_style {
  font-family: arial;
  padding: 0.4em;
  font-size: 100%;
}
select {
  padding: 0.2em;
}
input, select, button, .input_style {
  height: 28px;
}
select {
  min-width: 64px;
}
input[type=text], input[type=password], select, .input_style {
  border: 1px solid #999;
}
input[type=text]:focus, input[type=password]:focus, select:focus {
  border: 1px solid #0080ff;
}
input[type=checkbox], input[type=radio] {
  line-height: 1.3em;
  vertical-align: middle !important;
  margin: auto 0.4em;
}
input[type=submit], input[type=button], input[type=reset], a.button {
  display: inline-block;
  border-radius: 5px;
  padding: 0.65em 1.4em;
  text-decoration: none;
  background: #2980cc;
  color: white;
  border: none;
  vertical-align: middle;
  height: auto;
}
a.button:visited {
  color: white;
}

input[type=submit].disabled, input[type=button].disabled, input[type=reset].disabled, a.button.disabled,
input[type=submit].disabled:hover, input[type=button].disabled:hover, input[type=reset].disabled:hover, a.button.disabled:hover {
  color: white;
  background: #bbb;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, a.button:hover {
  background: #5499d6;
}
input[type=submit].light, input[type=button].light, input[type=reset].light, a.button.light {
  background: #626262;
}
input[type=submit].light:hover, input[type=button].light:hover, input[type=reset].light:hover, a.button.light:hover {
  background: #777;
}
input[type=submit].warning, input[type=button].warning, input[type=reset].warning, a.button.warning {
  background: #d98416;
}
input[type=submit].warning:hover, input[type=button].warning:hover, input[type=reset].warning:hover, a.button.warning:hover {
  background: #e5962e;
}

form {
  width: 100%;
}
h2, h3 {
  position: relative;
}
h1 {
  font-size: 160%
}
h2 {
  font-size: 140%;
  margin: 24px 0 16px;
  padding-left: 2%;
  padding-bottom: 4px;
}
h2.underline {
  border-bottom: 1px solid #888;
}
h3 {
  font-size: 120%;
  margin: 20px 0 14px;
  padding-left: 2%;
  padding-bottom: 4px;
}
h3.underline {
  border-bottom: 1px solid #bbb;
}
small {
  color: #666;
}

ul.classic {
  margin: 16px 0;
}
ul.classic > li {
  list-style: disc inside;
  padding-left: 16px;
}
sup {
  color: grey;
  font-size: 60%;
}

#container {
  text-align: left;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1px 24px 24px 24px;
  background: white;
  width: 880px;
  border: 1px solid #c0c0c0;
  border-top: none;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.12);
}
#banner_info {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  font-size: 11px;
  text-align: right;
  padding: 12px 2% 12px 0;
  line-height: 140%;
  color: #666;
  z-index: 3;
}
#main_banner {
  display: block;
  position: relative;
  margin: 12px 0 16px;
  font-size: 180%;
  background: url('images/logo_icon.png') no-repeat 30px center;
  padding: 32px 0 32px 142px;
}
#print_banner {
  display: none;
  position: relative;
  margin: 0;
  font-size: 180%;
  padding: 32px 0 32px;
  vertical-align: middle;
}
#print_banner img {
  top: 0;
  right: 0;
  position: absolute;
}
#navigation_bar {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  word-spacing: -1em;
  color: white;
  font-weight: normal;
  background: #2980cc;
  padding: 8px 1%;
  margin-bottom: 12px;
}
#navigation_bar * {
  display: inline-block;
  word-spacing: normal;
  font-size: 16px;
  vertical-align: middle;
}
#navigation_bar a {
  color: inherit;
  text-decoration: none;
}
#navigation_bar a.action {
  padding-top: 90px;
  width: 23%;
  height: 116px;
  text-align: center;
  margin: 0 1%;
  border-radius: 5px;
}
#navigation_bar a.action.find {
  background: url('images/icons/find_white.png') no-repeat center 10px;
}
#navigation_bar a.action.burial {
  background: url('images/icons/burial_white.png') no-repeat center 10px;
}
#navigation_bar a.action.reservation {
  background: url('images/icons/reservation_white.png') no-repeat center 10px;
}
#navigation_bar a.action.calendar {
  background: url('images/icons/calendar_white.png') no-repeat center 10px;
}
#navigation_bar a.action:hover {
  background-color: #3f8dd1;
}
#navigation_bar .div.breadcrumb {
  padding: 0 8px;
}
#navigation_bar a.breadcrumb {
  padding: 5px 5px;
}
#navigation_bar a.breadcrumb.home {
  background: url('images/icons/home_small_white.png') no-repeat center center;
  height: 26px;
  width: 30px;
}
#navigation_bar a:hover {
  background-color: #3f8dd1 !important;
}

#footer {
  font-size: 11px;
  text-align: center;
  color: #999;
  letter-spacing: 0.2pt;
  margin: 22px 0;
}
#footer a {
  color: #9fb4c7;
  text-decoration: none;
}
#footer a:hover {
  color: #6b91b3;
}
#legacy_pane {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  background: white;
  border-left: 1px solid #c0c0c0;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.12);
  z-index: 100;
}
#legacy_pane .title {
  position: absolute;
  font-size: 140%;
  padding: 12px 16px;
  background: #e58a2e;
  color: white;  
  top: 0;
  right: 0px;
  left: -1px;
  height: 46px;
  clip: rect(0, 9999px, 9999px, 0);
  box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
}
#legacy_pane .bar {
  font-size: 140%;
  color: white;
  position: absolute;
  display: block;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -40px;
  background: #e58a2e url(images/legacy_data.png) no-repeat center center;
  cursor: pointer;
}
#legacy_pane .bar:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
  opacity: 0.9 !important;
}
/*
#legacy_pane .bar > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -12px;
  display: block;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  white-space: nowrap;
}
*/
#legacy_pane a.close {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 42px;
  background: url('images/close.png') no-repeat center center;
}
#legacy_pane a.close:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
}

#legacy_pane .show > .rowed {
  overflow: auto;
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 10px;
  right: 0;
  padding: 6px 0;
}

h1 .heading_float, h2 .heading_float, h3 .heading_float {
  position: absolute;
  top: 0;
  right: 2%;
  width: 100%;
  text-align: right;
  font-size: 13px;
  font-weight: normal;
}
.heading_float.order_options a {
  margin: auto 2px;
}
.heading_float.order_options a:visited {
  color: blue;
}
.heading_float.order_options a.desc:after {
  content: " ▼";
  font-size: 90%;
}
.heading_float.order_options a.asc:after {
  content: " ▲";
  font-size: 90%;
}

.padded {
  padding: 8px 12px;
}
.v_padded {
  padding: 8px 0
}
.h_padded {
  padding: 0 12px;
}

.details {
  display: block;
  padding: 0 14px 6px;
  font-size: 11px;
  overflow: auto; /* Required for clearing the container for floating children */
}
.details > .left {
  float: left;
  width: 50%;
}
.details > .right {
  float: right;
  width: 50%;
}

section {
  margin-top: 34px;
}
section:first-child {
  margin-top: 0;
}

.clickable {
  cursor: pointer;
}
.message_banner {
  position: relative;
  padding: 10px 14px;
  margin: 6px 0;
  color: white;
  white-space: pre;
  font-family: Verdana, Arial;
  font-size: 12px;
  background: grey;
}
.message_banner a {
  color: white;
}
.message_banner .close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  background: url('images/close_small.png') no-repeat center center;
}
.message_banner a.close:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 0.75;
}
.message_banner.success {
  background: #69ad34;
}
.message_banner.warning {
 background: #d98416;
}
.message_banner.error {
 background: #a63232;
}
.list_rows > div {
  background: #ebf3fa;
  margin-bottom: 1px;
  position: relative;
}
.list_rows > div:nth-child(even)  {
  background: none;
}
.list_rows > div.even {
  background: none;
}
.list_rows > div > .summary {
  position: relative;
  padding: 12px 14px;
}
.list_rows > div.provisional {
  background-color: #f0ebfa;
}
.list_rows > div.deleted {
  color: #777;
}
.list_rows > div.deleted > .summary * {
  text-decoration: line-through;
}
.list_rows > div > .details {
  display: none;
}
.list_rows > div.expanded > .details {
  display: block;
}

.list_rows .goto {
  position: absolute;
  background: url(images/goto_blue.png) no-repeat center center;
  width: 32px;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.list_rows .goto.ok {
  background: url(images/goto_green.png) no-repeat center center;
}
.list_rows .goto.warning {
  background: url(images/goto_orange.png) no-repeat center center;
}
.list_rows .goto.danger {
  background: url(images/goto_red.png) no-repeat center center;
}

.list_rows .goto:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 0.75;
}

.row_block {
  position: relative;
  background: #dfecf7;
  border-radius: 5px;
  padding: 12px;
  margin: 6px 0;
}
.row_block > span {
  display: block;
  color: black;
  margin-bottom: 6px;
}
.row_block input[type=button]  {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 12px;
  padding: 0 24px;
  height: 80%;
  background: #ebf3fa;
  border: 1px solid #d8dfe5;
  border-radius: 5px;
  cursor: pointer;
}
.row_block input[type=button]:hover  {
  background: #d5e5f2;
  border: 1px solid #c5d4e0;
}
.row_block.clickable:hover {
  background: #eff5fb;
}
.row_block .actions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
}
.row_block .actions > a {
  display: inline-block;
  height: 100%;
  width: 40px;
  padding: 0 4px;
}

.row_block .actions > .delete {
  background: url('images/delete_24_hover.png') no-repeat  center center;
}
.row_block .actions > a.delete:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 0.75;
}

a.row_button {
  display: block;
  border: 1px solid #2980cc;
  border-radius: 5px;
  padding: 12px;
  text-decoration: none;
}
a.row_button:visited {
  color: inherit;
}
a.row_button:hover {
  background: #2980cc;
  color: #fff;
}

.rowed label, .rowed div.row {
  position: relative;
  display: block;
  padding: 4px 0;
  margin-left: 112px;
  text-align: left;
}
.rowed.wide label, .rowed.wide div.row {
  margin-left: 162px;
}
.rowed.very_wide label, .rowed.very_wide div.row {
  margin-left: 212px;
}
.rowed label > *, .rowed div.row > * {
  display: inline-block;
  vertical-align: middle;
}
.rowed label > span:first-child, .rowed div.row > span:first-child {
  display: inline-block;
  margin-left: -112px;
  padding-right: 8px;
  width: 107px;
  text-align: right;
  vertical-align: middle;
}
.rowed.wide label > span:first-child, .rowed.wide div.row > span:first-child {
  margin-left: -162px;
  width: 157px;
}
.rowed.very_wide label > span:first-child, .rowed.very_wide div.row > span:first-child {
  margin-left: -212px;
  width: 207px;
}
.rowed.view label > span:first-child, .rowed.view div.row > span:first-child {
  font-weight: bold;
}
.rowed.display label > span:first-child, .rowed.display div.row > span:first-child {
  font-weight: bold;
}
.rowed label > span.align_top:first-child, .rowed div.row > span.align_top:first-child {
  vertical-align: top;
  padding-top: 0.3em;
}
.rowed.view label > span.align_top:first-child, .rowed.view div.row > span.align_top:first-child {
  vertical-align: top;
  padding-top: 0;
}
.rowed div.row label {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: middle;
}

.separator {
  height: 1px;
  background: #bbb;
  margin: 20px 0;
  text-align: center;
}
.separator > span {
  display: inline-block;
  height: 14px;
  background: white;
  position: relative;
  top: -7px;
  width: 38px;
  color: #999;
}
.separator > span:before {
  content: "OR";
}

.inline_layout {
  display: block;
  width: 100%;
  word-spacing: -1em;
  font-size: 0;
  white-space: nowrap;
}
.inline_layout  > * {
  display: inline-block !important;
  vertical-align: middle;
  word-spacing: normal;
  font-size: 13px;
}
.inline_layout.spaced > * {
  padding-left: 0.5em;
}
.inline_layout.spaced > :first-child {
  padding-left: 0;
}
.inline_layout.align_top > * {
  vertical-align: top;
}
.inline_layout > .separator {
  height: 100%;
}
.inline_layout > .separator > span {
  display: block;
  background: white;
  position: absolute;
  z-index: 3;
  color: #999;
  text-align: center;
  top: 50%;
  line-height: 30px;
  margin-top: -15px;
  width: 100%;
}
.inline_layout > .separator > div {
  background: #999;
  width: 1px;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 50%;
}


.inline_float_layout {
  display: block;
}
.inline_float_layout > * {
  display: block;
  float: left;
  vertical-align: middle;
}
.inline_float_layout > .separator {
  position: relative;
  height: 100%;
}
.inline_float_layout > .separator > span {
  display: block;
  background: white;
  position: absolute;
  width: 100%;
  padding: 0 16px;
  z-index: 3;
  color: #999;
  text-align: center;
  vertical-align: top;
  top: 50%;
  line-height: 30px;
  margin-top: -15px;
}
.inline_float_layout > .separator > div {
  background: #999;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
}

.action_button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 16px;
  text-decoration: none;
  background: #2980cc;
  color: white;
  border: none;
  vertical-align: middle;
  height: auto;
}

.placepicker .add_child, .placepicker .add, .placepicker .edit, .placepicker .delete {
  display: inline-block;
  width: 20px;
  height: 28px;
  vertical-align: middle;
  margin: 0 2px;
  cursor: pointer;
}
.placepicker .add_child {
  background: url('images/add_child_20.png') no-repeat center center;
}
.placepicker .add {
  background: url('images/add_20.png') no-repeat center center;
}
.placepicker .edit {
  background: url('images/edit_20.png') no-repeat center center;
}
.placepicker .delete {
  background: url('images/delete_20.png') no-repeat center center;
}
.placepicker .add:first-child, .placepicker .edit:first-child, .placepicker .delete:first-child, .placepicker .add_child {
  margin-left: 8px;
}
.placepicker .add:hover, .placepicker .edit:hover, .placepicker .delete:hover, .placepicker .add_child:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8; 
}

.multiinput_control input {
  margin-top: 4px;
}
.multiinput_control div:first-child input {
  margin-top: 0;
}

.multibutton {
  position: relative;
  display: inline-block;
  padding-right: 2.4em;
  vertical-align: middle;
}
.multibutton.no_dropdown {
  padding-right: 0;
}
.multibutton.small input[type=submit],
.multibutton.small input[type=button],
.multibutton.small input[type=reset],
.multibutton.small button,
.multibutton.small a.button {
  padding: 0.6em 1.2em;
}
.multibutton > .viewport {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  background: #2980cc;
}
.multibutton > .viewport.show {
  overflow: visible;
}
.multibutton.no_dropdown > .viewport {
  border-radius: 5px;
}
.multibutton > .dropdown_button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.4em;
  border-radius: 0 5px 5px 0;
  background: #2980cc url('images/dropdown_arrow.png') no-repeat center center;
  color: white;
  text-align: center;
  border-left: 1px solid #62a4de;
}
.multibutton.small > .dropdown_button {
  background-image: url('images/dropdown_arrow_small.png');
}
.multibutton > .dropdown_button:hover {
  background-color: #5499d6;
}
.multibutton.no_dropdown > .dropdown_button {
  display: none;
}
.multibutton > .viewport > ul {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  z-index: 10;
}
.multibutton > .viewport.show > ul {
  box-shadow: 0px 0px 15px rgba(0,0,0, 0.4);
  border-radius: 5px;
}
.multibutton > .viewport.show > ul > li:first-child {
  border-radius: 5px 5px 0 0;
}
.multibutton > .viewport.show > ul > li:last-child {
  border-radius: 0 0 5px 5px;
}
.multibutton > .viewport > ul > li {
  display: block;
  text-align: left;
  background: #2980cc;
  border-radius: 5px 0 0 5px;
  padding: 0;
}
.multibutton > .viewport > ul > li.with_top_divider {
  border-top: 1px solid #62a4de;
}
.multibutton > .viewport > ul > li.with_bottom_divider {
  border-bottom: 1px solid #62a4de;
}
.multibutton.no_dropdown > .viewport > ul > li {
  border-radius: 5px; 
}
.multibutton > .viewport.show > ul > li {
  border-radius: 0;
}
.multibutton > .viewport > ul > li:hover {
  background: #5499d6;
}
.multibutton > .viewport > ul input[type=button], .multibutton > .viewport > ul a.button {
  display: block;
  border-radius: 0;
  text-align: left;
  background: none;
}

.multibutton.light > .viewport {
  background: #626262;
}
.multibutton.light > .dropdown_button {
  background-color: #626262;
  border-left: 1px solid #a0a0a0;
}
.multibutton.light > .dropdown_button:hover {
  background-color: #777;
}
.multibutton.light > .viewport > ul > li {
  background: #626262;
}
.multibutton.light > .viewport > ul > li:hover {
  background: #777;
}

.indicator {
  display: inline-block;
  min-height: 24px;
  width: 36px;
  vertical-align: middle;
}
.indicator.loading {
  background: url('images/loader.gif') no-repeat center center;
}
.indicator.success {
  background: url('images/check-24.png') no-repeat center center;
}
.indicator.warning {
  background: url('images/warning-24.png') no-repeat center center;
}

.hierarchy > .hierarchy {
  padding: 0.3em 0 0 0.6em;
}
.hierarchy > .hierarchy > .hierarchy {
  padding-left: 1.7em;
}
.hierarchy > .hierarchy:before {
  content: "∟";
  color: gray;
  font-size: 1.5;
}

/* OVERLAY */
.overlay_background {
  position: fixed;
  background: url('images/opacity_70_f2f2f2.png') repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.overlay_container {
  position: absolute;
  left: 50%;
  top: 8%;
  margin-left: -300px;
  width: 600px;
  max-height: 84%;
  display: block;
  border: 8px solid #2980cc;
  z-index: 101;
  background: white;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  overflow-y: auto;
  overflow-x: hidden;
}
.overlay_container.role_wizard {
  margin-left: -450px;
  width: 900px;
}
.overlay_container > .heading {
  position: relative;
  text-align: left;
  background: #2980cc;
  color: white;
  padding: 3px 0 12px 0;
}
.overlay_container > .footer {
  text-align: right;
  border-top: 1px solid #bbb;
  padding: 8px 12px;
}
.overlay_container.warning {
  border: 8px solid #d98416;
}
.overlay_container.warning > .heading {
  background: #d98416;
}
.overlay_container > .heading > h2 {
  width: 100%;
  margin: 0 0 0 12px;
  border: none;
  padding: 0;
}
.overlay_container > .heading > a.close {
  position: absolute;
  top: -8px;
  bottom: 0;
  right: 0;
  width: 36px;
  background: url('images/close.png') no-repeat center center;
}
.overlay_container > .heading > a.back {
  position: absolute;
  top: -8px;
  bottom: 0;
  right: 36px;
  width: 36px;
  background: url('images/back.png') no-repeat center center;
}
.overlay_container > .heading > a.close:hover, .overlay_container > .heading > a.back:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
}

.overlay_container > .body {
  display: table;
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}
.overlay_container > .body .pane {
  position: relative;
  display: table-cell;
  height: 100%;
  border-left: 1px solid #bbb;
  vertical-align: top;
}
.overlay_container > .body .pane:first-child {
  border: none;
}
.overlay_container > .body h3 {
  margin-top: 0;
}
.overlay_container > .body .indicator {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f2f2f2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  background-color: rgba(242,242,242,0.7);
}
.overlay_container > .body .menu.pane {
  border: none;
}
.overlay_container > .body .menu.pane li {
  border-bottom: 1px solid #bbb;
  position: relative;
  cursor: pointer;
}
.overlay_container > .body .menu.pane li.selected {
  background: #e0f1ff;
}
.overlay_container > .body .menu.pane li.disabled {
  color: #999;
  cursor: auto;
}
.overlay_container > .body .menu.pane h3 {
  font-size: 110%;
  margin: 0;
  padding: 8px;
}
.overlay_container > .body .menu.pane .delete {
  position: absolute;
  display: block;
  float: right;
  width: 24px;
  height: 100%;
  right: 0;
  top: 0;
  margin: 0 2px;
  cursor: pointer;
  background: url('images/delete_20.png') no-repeat center center;
}
.overlay_container > .body .menu.pane .delete:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 0.75;
}
.overlay_container > .body .menu.pane .disabled .delete {
  display: none;
}
.overlay_container > .body .menu.pane .details {
  padding-bottom: 8px;
}
.field_error {
  outline: 1px solid #c00;
}
.error_block {
  padding: 10px 20px;
  background: #a73232;
  font-family: Verdana, Arial;
  font-size: 12px;
  color: white;
  box-sizing: content-box;
}
.error_block li {
  list-style: outside disc;
  margin-left: 14px;
  padding: 3px 0;
}
.error_block li:only-child {
  list-style: none;
  margin-left: 0;
}

/* LEGACY */


#key_field_error,
#validation_errors {
  padding: 10px 20px;
  background: #a73232;
  font-family: Verdana, Arial;
  font-size: 11px;
  color: white;
  margin: 6px 0;
  box-sizing: content-box;
}
#validation_errors li {
  list-style: outside disc;
  margin-left: 14px;
}

input#submit_fuel_form {
  padding-left: 16px;
  padding-right: 16px;
}

input.with_icon {
  padding-right: 26px;
}
input.with_icon.checked {
  background: url(images/check-16.png) no-repeat 97% center;
}
input.with_icon.crossed {
  background: url(images/cross-16.png) no-repeat 97% center;
}
input.with_icon.loading {
  background: url(images/loader-16.gif) no-repeat 97% center;
}

.vertical_form > div, .vertical_form > label {
  display: block;
  padding: 6px 0;
  position: relative;
}
.vertical_form .field {
  display: block;
  text-align: left;
  padding: 7px 0;
  line-height: 16pt;
}
.vertical_form input[type=button], .vertical_form input[type=submit] {
  margin-right: 6px;
}
.vertical_center > * {
  vertical-align: middle;
}

.vertical_form .inline_layout .field {
  padding-top: 0;
}

iframe {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  overflow-x: auto;
}

.files {
  width:100%;
  background-color:#FFFFFF;
  padding-left: 0px;
  word-spacing: -1em;
  font-size: 1px;
}
.files * {
  word-spacing: normal;
}

.files > .image_container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  margin: 5px 8px;
  text-align:center;
  border: 1px solid #777;
}
.files > .image_container img {
  display: block;
}
.files > .image_container a > img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity: 0.9;
}
.files > .image_container .info {
  display: none;
  pointer-events: none;
}
.files > .image_container:hover .info {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  background: url('images/opacity_50_black.png') repeat;
  color: white;
}
.files > .image_container .info span {
  display: block;
  padding: 3px 0;
}

.files > .image_container .delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 46px;
  width: 46px;
  background: url('images/delete_corner.png') no-repeat center center;
}
.files > .image_container .delete:hover {
  background: url('images/delete_corner_hover.png') no-repeat center center;
}

