<% if (model) { %>
  <div class="row_block clickable" title="Click to change">
    <span><strong><%= model.person.given_name %> <%= model.person.surname %></strong></span>
    <div><%= model.residential_contact.street_address %>, <%= model.residential_contact.town %>, <%= model.residential_contact.state %> <%= model.residential_contact.postal_code %></div>
    <div class="actions">
      <a href="javascript:void(0);" class="delete" confirm="Are you sure you want to delete this object?" action="/delete/stuff" data="id=56&amp;delete=now" title="Delete"></a>
    </div>
  </div>
  <%
  /*
  _.each(model, function (role_val, role_key) {
    if(typeof role_val == "object") {
      _.each(role_val, function (val, key) {
      %>
        <input type="hidden" name="role[<%= model.type %>][<%= role_key %>][<%= key %>]" value="<%= val %>">
      <%
      })
    }
  })
  */
} else { %>
  <a class="add" href="#">Click to add&hellip;</a>
<% } %>