<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url "/reset.css" %>"/>
  <link rel="stylesheet" href="<%= url "/style.css" %>"/>
</head>
<body>
<div style="background: white;">
  <section>
    <h2 class="underline">Photographs</h2>
    <div class="section padded">
      <% @blobs.each do |blob| %>
        <div class="row_block" title="Click to view photo">
          <div>
            <img src="<%= blob.file.thumbnail.url %>"/>
            <span>Name:</span>
            <span><%= blob[:name] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
</body>
</html>