<% @document[:breadcrumb] = false %>
<div id="navigation_bar">
	<a href="<%= url '/find' %>" class="action find">Find</a>
	<a href="<%= url '/interment/new' %>" class="action burial">New Burial</a>
  <a href="<%= url '/reservation/new' %>" class="action reservation">New Reservation</a>
  <a href="#" class="action calendar">Calendar</a>
</div>
<div class="inline_layout align_top">
  <div style="width: 48%">
  	<h2>Tasks</h2>
    <div class="list_rows">
    	<div class="padded">Approve burial for Ronald Buckler<a class="goto"></a></div>
      <div class="padded">Complete pending reservation form<a class="goto"></a></div>
    </div>
  </div>
  <div style="width: 4%"></div>
  <div style="width: 48%">
  	<h2>Upcoming Burials</h2>
    <div class="list_rows">
    	<div class="padded">09/12/2011 @ 9:00 AM &nbsp;&ndash;&nbsp; Rodney Williams<a class="goto"></a></div>
      <div class="padded">10/12/2011 @ 11:00 AM &nbsp;&ndash;&nbsp; John H Farley<a class="goto"></a></div>
      <div class="padded">10/12/2011 @ 1:00 PM &nbsp;&ndash;&nbsp; Pickle Shalloway<a class="goto"></a></div>
    </div>
  </div>
</div>